<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.0.0" targetFramework="net452" />
  <package id="JWT" version="7.2.2" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.8.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Logging" version="6.8.0" targetFramework="net45" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.8.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="popper.js" version="1.16.1" targetFramework="net452" />
  <package id="Vue.Js.Element.UI" version="2.10.0.1" targetFramework="net452" />
</packages>