@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Details.cshtml";
}

<link rel="stylesheet" href="~/Content/css/upload.css" />

<script src="~/Content/layui/layui.js" charset="utf-8"></script>
<script>
    var keyValue = $.request("keyValue");
    var count = 0;

    $(function () {
        initControl();

        $.ajax({
            url: "/ProductManage/Inventory/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,input').attr('readonly', 'readonly');
                $("#form1").find('select').attr('disabled', 'disabled');
                $("#form1").find('div.ckbox label').attr('for', '');

                if (data.QuoteType == "One") {
                    $("#trQuate1").show();
                    $("#trQuate2").hide();
                } else {
                    $("#trQuate1").hide();
                    $("#trQuate2").show();
                }
            }
        });

        getFile()
        showFile();
    })

    function initControl() {
        //仓库
        $("#WareId").bindSelect({
            url: "/SystemManage/SelData/GetSelectJson",
            param: { table: "WareHouse", itemCode: "F_Id", itemName: "WareName" },
        });
        //品类
        $("#ProductType").bindSelect({
            url: "/SystemManage/SelData/GetSelectJson",
            param: { table: "Product", itemCode: "ProductCode", itemName: "ProductName", condition: "", sort: "Sort", asc: true },
        });
        //产品状态
        $("#Status").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "0207" },
        });
        //报价方式
        $("#QuoteType").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "0206" },
        });
        //等级
        $("#Grade").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "0202" },
        });
        //长度
        $("#Length").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "0208" },
        });
        //码值
        $("#HorseValue").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "0203" },
        });
        //合约
        $("#Contract").bindSelect({
            url: "/SystemManage/SelData/GetSelectJson",
            param: { table: "Contract", itemCode: "ContractCode", itemName: "ContractName" },
        });

        $('#wizard').wizard().on('change', function (e, data) {
            var $next = $("#btn_next");
            if (data.direction == "next") {
                switch (data.step) {
                    case 1:
                        $next.attr('disabled', 'disabled');
                        break;
                    default:
                        break;
                }
            } else {
                $next.removeAttr('disabled');
            }
        });
    }

    //预览图获取
    function getFile() {
        $.ajax({
            url: "/SystemManage/File/GetListJson",
            data: { related_Id: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    $("#pic_" + i).attr("src", "/" + data[i].FilePath);
                    $("#picRel_" + i).attr("src", "/" + data[i].FilePath);
                    count++;
                }
            }
        });
    }

    //预览图展示
    function showFile() {
        $("#gallery_output img").not(":first").hide();
        $("#gallery a").click(function () {
            $("#gallery a").removeClass('on');
            $(this).addClass("on");
            if ($("#" + this.rel).is(":hidden")) {
                $("#gallery_output img").slideUp();
                $("#" + this.rel).slideDown();
            }
        });
    }
</script>
<form id="form1">
    <div class="widget-body">
        <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
            <ul class="steps">
                <li data-target="#step-1" class="active"><span class="step">1</span>基本信息<span class="chevron"></span></li>
                <li data-target="#step-2"><span class="step">2</span>展示图片<span class="chevron"></span></li>
            </ul>
        </div>
        <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
            <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">
                <div class="panel panel-default">
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">产品分类</th>
                                <td class="formValue">
                                    <select id="ProductType" class="form-control">
                                    </select>
                                </td>
                                <th class="formTitle">年度</th>
                                <td class="formValue">
                                    <input id="Year" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">等级</th>
                                <td class="formValue">
                                    <select id="Grade" class="form-control">
                                    </select>
                                </td>
                                <th class="formTitle">长度</th>
                                <td class="formValue">
                                    <select id="Length" class="form-control">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">强力</th>
                                <td class="formValue">
                                    <input id="Strength" type="text" class="form-control" />
                                </td>
                                <th class="formTitle">码值</th>
                                <td class="formValue">
                                    <select id="HorseValue" class="form-control">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">仓库</th>
                                <td class="formValue">
                                    <select id="WareId" class="form-control">
                                    </select>
                                </td>
                                <th class="formTitle">库存</th>
                                <td class="formValue">
                                    <input id="Weight" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">提单号</th>
                                <td class="formValue">
                                    <input id="OrderNo" type="text" class="form-control" />
                                </td>
                                <th class="formTitle">产品状态</th>
                                <td class="formValue">
                                    <select id="Status" class="form-control">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">船期</th>
                                <td class="formValue">
                                    <input id="SailingSchedule" type="text" class="form-control" />
                                </td>
                                <th class="formTitle">报价方式</th>
                                <td class="formValue">
                                    <select id="QuoteType" class="form-control">
                                    </select>
                                </td>
                            </tr>
                            <tr id="trQuate1">
                                <th class="formTitle">报价</th>
                                <td class="formValue">
                                    <input id="Price" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr id="trQuate2">
                                <th class="formTitle">合约</th>
                                <td class="formValue">
                                    <select id="Contract" class="form-control">
                                    </select>
                                </td>
                                <th class="formTitle">基差</th>
                                <td class="formValue">
                                    <input id="Basis" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" style="height: 35px;"></th>
                                <td class="formValue" style="padding-top: 1px;">
                                    <div class="ckbox">
                                        <input id="IsRecommend" type="checkbox">
                                        <label for="IsRecommend">是否首页推荐 </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">备注</th>
                                <td class="formValue" colspan="3">
                                    <input id="Description" type="text" class="form-control" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-2">
                <div class="panel-body" style="width: 98%;">
                    <table class="form">
                        <tr>
                            <td class="formValue">
                                <div class="layui-upload">
                                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                        <div id="gallery" style="height:280px; margin-left:55px;">
                                            <div id="gallery_nav">
                                                <a class="on" rel="picRel_0" href="javascript:;">
                                                    <img id="pic_0" style="width:104px;" />
                                                </a>
                                                <a rel="picRel_1" href="javascript:;">
                                                    <img id="pic_1" style="width:104px;" />
                                                </a>
                                                <a rel="picRel_2" href="javascript:;">
                                                    <img id="pic_2" style="width:104px;" />
                                                </a>
                                                <a rel="picRel_3" href="javascript:;">
                                                    <img id="pic_3" style="width:104px;" />
                                                </a>
                                            </div>
                                            <div id="gallery_output" style="margin-left:10px;">
                                                <img id="picRel_0" style="width:420px;" />
                                                <img id="picRel_1" style="width:420px;" />
                                                <img id="picRel_2" style="width:420px;" />
                                                <img id="picRel_3" style="width:420px;" />
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-button" id="wizard-actions">
            <a id="btn_last" disabled class="btn btn-default btn-prev">上一步</a>
            <a id="btn_next" class="btn btn-default btn-next">下一步</a>
        </div>
    </div>
</form>
