@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<style>
    img {
        background-size: cover;
    }
</style>
<link rel="stylesheet" href="~/Content/css/upload.css" />
<script src="~/Content/layui/layui.js" charset="utf-8"></script>
<script src="~/Content/js/CommonFunction.js"></script>
<script>
    var keyValue = $.request("keyValue");
    var count = 0, guid = "", filePath = "";

    $(function () {
        initControl();

        if (!!keyValue) {
            $.ajax({
                url: "/ProductManage/Inventory/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                    $("#Weight").attr("disabled", "disabled");
                    guid = data.F_Id;

                    //获取图片
                    getFile();
                }
            });
        }

        //展示图片
        showFile();
    })

    function initControl() {
        //仓库
        $("#WareId").bindSelect({
            url: "/SystemManage/SelData/GetSelectJson",
            param: { table: "WareHouse", itemCode: "F_Id", itemName: "WareName" },
        });
        //品类
        $("#ProductType").bindSelect({
            url: "/SystemManage/SelData/GetSelectJson",
            param: { table: "Product", itemCode: "ProductCode", itemName: "ProductName", condition: "", sort: "Sort", asc: true },
        });
        //产品状态
        $("#Status").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "0207" },
        });
        //报价方式
        $("#QuoteType").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "0206" },
        });
        //等级
        $("#Grade").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "0202" },
        });
        //长度
        $("#Length").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "0208" },
        });
        //码值
        $("#HorseValue").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "0203" },
        });
        //合约
        $("#Contract").bindSelect({
            url: "/SystemManage/SelData/GetSelectJson",
            param: { table: "Contract", itemCode: "ContractCode", itemName: "ContractCode", condition: " and FS not in ('USDCNH','CZCECF')", sort: "FS" },
        });
        $("#trQuate2").hide();
        $('#wizard').wizard().on('change', function (e, data) {
            var $submit = $("#btnSubmit");
            var $finish = $("#btnFinish");
            if (data.direction == "next") {
                switch (data.step) {
                    case 1:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        $submit.hide();
                        $finish.show();

                        submitForm();
                        break;
                    default:
                        break;
                }
            } else {
                switch (data.step) {
                    case 2:
                        $submit.show();
                        $finish.hide();
                        break;
                    default:
                        break;
                }
            }
        });

        $('#QuoteType').change(function () {
            if ($("#QuoteType").get(0).selectedIndex == 2) {
                $("#trQuate1").hide();
                $("#Price").removeClass("required");
                $("#Price").val("");
                $("#trQuate2").show();
                $("#Contract").addClass("required");
                $("#Basis").addClass("required");
            } else {
                $("#trQuate1").show();
                $("#Price").addClass("required");
                $("#trQuate2").hide();
                $("#Contract").removeClass("required");
                $("#Contract").get(0).selectedIndex = 0;
                $("#Basis").removeClass("required");
                $("#Basis").val("");
            }
        });
    }

    function submitForm() {
        $("#WareName").val($("#WareId").find("option:selected").text().trim());
        var postData = $("#form1").formSerialize();
        $.submitForm({
            url: "/ProductManage/Inventory/SubmitForm?keyValue=" + keyValue,
            param: postData,
            success: function (data) {
                guid = data.data;
                $.currentWindow().$("#gridList").trigger("reloadGrid");
                getFile();
                layui.use('upload', function () {
                    var $ = layui.jquery, upload = layui.upload;

                    //多图片上传
                    upload.render({
                        elem: '#btnUpload',
                        url: '/SystemManage/File/UploadFile',//接口
                        multiple: true,
                        size: 1024,//单位kb
                        data: { related_Id: guid },
                        param: '',
                        before: function (obj) {
                            if (guid == "" || guid == null) {
                                alert("请返回上一步，重新提交数据！");
                            }

                            if (count > 3) {
                                alert("最多上传四张图片！");
                                return;
                            }

                            //预读本地文件示例，不支持ie8
                            obj.preview(function (index, file, result) {
                                $('#pic_' + count).attr('src', result);//图片链接（base64）
                                $('#picRel_' + count).attr('src', result);
                                $('#pic_' + count).click();
                            });
                        },
                        done: function (res) {
                            $("#gallery_nav a img")[count].id = res.data;
                            count++;
                        }
                    });
                });
            },
            close: false
        });
    }

    //预览图获取
    function getFile() {
        $.ajax({
            url: "/SystemManage/File/GetListJson",
            data: { related_Id: guid },
            dataType: "json",
            async: false,
            success: function (data) {
                count = 0;
                $("#gallery_nav").empty();
                $("#gallery_output").empty();
                for (var i = 0; i < data.length; i++) {
                    $("#gallery_nav").append("<a rel='picRel_" + i + "' href='javascript:;'><img id='" + data[i].F_Id + "' src='" + data[i].FileContent + "' style='width:104px;' /></a>");
                    $("#gallery_output").append("<img id='picRel_" + i + "' src='" + data[i].FileContent + "' style='width:420px;' />");
                    count++;
                }
                for (var i = data.length; i < 4; i++) {
                    $("#gallery_nav").append("<a rel='picRel_" + i + "' href='javascript:;'><img id='pic_" + i + "' style='width:104px;' /></a>");
                    $("#gallery_output").append("<img id='picRel_" + i + "' style='width:420px;' />");
                }
            }
        });

        showFile();//展示图片
    }

    //预览图展示
    function showFile() {
        $("#gallery_output img").not(":first").hide();
        $("#gallery a").click(function () {
            $("#gallery a").removeClass('on');
            $(this).addClass("on");
            if ($("#" + this.rel).is(":hidden")) {
                $("#gallery_output img").slideUp();
                $("#" + this.rel).slideDown();
            }
            $("#gallery_delete").show();
        });
    }

    function deleteFile() {
        var f_Id = $("#gallery_nav a.on img")[0].id;
        //删除附件
        $.ajax({
            url: "/SystemManage/File/DeleteFile",
            data: { f_Id: f_Id },
            type: "post",
            dataType: "json",
            async: false,
            success: function (data) {
                getFile();
                $('#pic_' + count).click();
            }
        });
    }
</script>
<form id="form1">
    <div class="widget-body">
        <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
            <ul class="steps">
                <li data-target="#step-1" class="active"><span class="step">1</span>基本信息<span class="chevron"></span></li>
                <li data-target="#step-2"><span class="step">2</span>展示图片<span class="chevron"></span></li>
            </ul>
        </div>
        <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
            <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">
                <div class="panel panel-default">
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">产品分类</th>
                                <td class="formValue">
                                    <select id="ProductType" name="ProductType" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                                <th class="formTitle">年度</th>
                                <td class="formValue">
                                    <input id="Year" name="Year" type="text" class="form-control required" placeholder="请输入年度" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">等级</th>
                                <td class="formValue">
                                    <select id="Grade" name="Grade" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                                <th class="formTitle">长度</th>
                                <td class="formValue">
                                    <select id="Length" name="Length" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">强力</th>
                                <td class="formValue">
                                    <input id="Strength" name="Strength" type="text" class="form-control required" placeholder="请输入强力" />
                                </td>
                                <th class="formTitle">码值</th>
                                <td class="formValue">
                                    <select id="HorseValue" name="HorseValue" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">仓库</th>
                                <td class="formValue">
                                    <select id="WareId" name="WareId" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                    <div style="display:none">
                                        <input id="WareName" name="WareName" type="text" class="form-control" />
                                    </div>
                                </td>
                                <th class="formTitle">库存</th>
                                <td class="formValue">
                                    <input id="Weight" name="Weight" type="text" class="form-control required" placeholder="请输入库存" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">提单号</th>
                                <td class="formValue">
                                    <input id="OrderNo" name="OrderNo" type="text" class="form-control required" placeholder="请输入提单号" />
                                </td>
                                <th class="formTitle">产品状态</th>
                                <td class="formValue">
                                    <select id="Status" name="Status" class="form-control required">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">船期</th>
                                <td class="formValue">
                                    <input id="SailingSchedule" name="SailingSchedule" type="text" class="form-control required" placeholder="请输入船期" />
                                </td>
                                <th class="formTitle">报价方式</th>
                                <td class="formValue">
                                    <select id="QuoteType" name="QuoteType" class="form-control required">
                                    </select>
                                </td>
                            </tr>
                            <tr id="trQuate1">
                                <th class="formTitle">报价</th>
                                <td class="formValue">
                                    <input id="Price" name="Price" type="text" class="form-control required" placeholder="请输入报价" />
                                </td>
                            </tr>
                            <tr id="trQuate2">
                                <th class="formTitle">合约</th>
                                <td class="formValue">
                                    <select id="Contract" class="form-control">
                                        <option value="">==请选择==</option>
                                    </select>
                                </td>
                                <th class="formTitle">基差</th>
                                <td class="formValue">
                                    <input id="Basis" name="Basis" type="text" class="form-control" placeholder="请输入基差" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" style="height: 35px;"></th>
                                <td class="formValue" style="padding-top: 1px;">
                                    <div class="ckbox">
                                        <input id="IsRecommend" name="IsRecommend" type="checkbox">
                                        <label for="IsRecommend">是否首页推荐 </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">备注</th>
                                <td class="formValue" colspan="3">
                                    <textarea id="Description" name="Description" class="form-control" style="height: 60px;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-2">
                <div class="panel-body" style="width: 98%;">
                    <table class="form">
                        <tr>
                            <td class="formValue">
                                <div class="layui-upload">
                                    <button type="button" class="btn btn-primary" id="btnRefresh" style="margin-left:85px;" onclick="$.reload()">
                                        <i class="fa fa-refresh fa-spin" style="margin-right:5px;"></i>刷新
                                    </button>
                                    <button type="button" class="btn btn-primary" id="btnUpload">
                                        <i class="fa fa-upload" style="margin-right:5px;"></i>上传
                                    </button>
                                    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                                        <div id="gallery" style="height:280px; margin-left:55px;">
                                            <div id="gallery_nav">
                                            </div>
                                            <div id="gallery_output" style="margin-left:10px;">
                                            </div>
                                            <div id="gallery_delete" style="display:none">
                                                <a href="#" style="position:relative; top:230px; border:0px;" onclick="deleteFile();">
                                                    <img src="~/Content/img/delete.gif" style="height:25px;" title="删除" />
                                                </a>
                                            </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-button" id="wizard-actions">
            <a id="btnPrev" disabled class="btn btn-default btn-prev">上一步</a>
            <a id="btnSubmit" class="btn btn-default btn-next">提交</a>
            <a id="btnFinish" class="btn btn-default" style="display: none;" onclick="$.modalClose();">完成</a>
        </div>
    </div>
</form>
