@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    var wareId = $.request("wareId");

    $(function () {
        gridList();
    })

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/ProductManage/Inventory/GetGridJson",
            postData: { wareId: wareId },
            height: $(window).height() - 96,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '商品名称', name: 'ProductName', width: 150, align: 'left' },
                { label: '商品代码', name: 'ProductCode', width: 150, align: 'center' },
                {
                    label: '商品类型', name: 'ProductType', width: 100, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.dataItems["0201"][cellvalue] == null ? "" : top.clients.dataItems["0201"][cellvalue];
                    }
                },
                {
                    label: '产地', name: 'OriginCode', width: 80, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        return top.clients.dataItems["0202"][cellvalue] == null ? "" : top.clients.dataItems["0202"][cellvalue];
                    }
                },
                { label: '单价', name: 'Price', width: 80, align: 'right' },
                { label: '入库重量', name: 'InitWeight', width: 80, align: 'right' },
                { label: '库存重量', name: 'Weight', width: 80, align: 'right' },
                {
                    label: '出库', name: '', width: 80, align: 'center',
                    formatter: function (val, obj, row, act) {
                        return '<button id="NF-inventoryForm" type="button" style="border:none;background:none;" onclick="btn_out(\'' + row.F_Id + '\')"><i class="fa fa-pencil-square-o"></i></button>';
                    }
                },
                {
                    label: '出库纪录', name: '', width: 80, align: 'center',
                    formatter: function (val, obj, row, act) {
                        return '<button id="NF-inventoryIndex" type="button" style="border:none;background:none;" onclick="btn_outIndex(\'' + row.F_Id + '\')"><i class="fa fa-search-plus"></i></button>';
                    }
                }
            ]
        });

        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { ware_Id: wareHouseId, keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }

    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "商品入库",
            url: "/ProductManage/Inventory/Form?wareId=" + wareId,
            width: "750px",
            height: "570px",
            btn: null
        });
    }

    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        if (keyValue == "" || keyValue == undefined) {
            this.alert("请选中商品更新！");
            return;
        }

        $.modalOpen({
            id: "Form",
            title: "库存更新",
            url: "/ProductManage/Inventory/Form?keyValue=" + keyValue,
            width: "750px",
            height: "570px",
            btn: null
        });
    }

    function btn_delete() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        if (keyValue == "" || keyValue == undefined) {
            this.alert("请选中商品下架！");
            return;
        }

        $.deleteForm({
            url: "/ProductManage/Inventory/DeleteForm",
            param: { keyValue: keyValue },
            success: function () {
                top.frames["InventoryIndex"].$("#gridList").trigger("reloadGrid");
            }
        })
    }

    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        if (keyValue == "" || keyValue == undefined) {
            this.alert("请选中商品查看！");
            return;
        }

        $.modalOpen({
            id: "Details",
            title: "库存详情",
            url: "/ProductManage/Inventory/Details?keyValue=" + keyValue,
            width: "750px",
            height: "620px",
            btn: null,
        });
    }

    function btn_out(f_Id) {
        $.modalOpen({
            id: "OutForm",
            title: "出库",
            url: "/ProductManage/OutInventory/Form?inventoryId=" + f_Id,
            width: "500px",
            height: "560px",
            btn: null,
        });
    }

    function btn_outIndex(f_Id) {
        $.modalOpen({
            id: "OutIndex",
            title: "出库纪录",
            url: "/ProductManage/OutInventory/Index?inventoryId=" + f_Id,
            width: "600px",
            height: "560px",
            btn: null,
        });
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>商品入库</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>库存更新</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>商品下架</a></li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>库存详情</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="商品名称" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
</div>
