@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    var tableId = $.request("tableId");
    $(function () {
        $(function () {
            var $cb = $("#cb_gridList");
            if ($cb != null) {
                $cb.parent().removeClass("ckbox");
            }
        })

        gridList();
    })

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SystemManage/TableField/GetGridJson",
            postData: {tableId: tableId},
            height: $(window).height() - 139,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '字段名', name: 'FieldName', width: 120, align: 'left' },
                { label: '中文名', name: 'FieldChineseName', width: 120, align: 'left' },
                { label: '类型', name: 'FieldType', width: 80, align: 'left' },
                { label: '长度', name: 'FieldLength', width: 60, align: 'left' },
                { label: '精度', name: 'FieldAccuracy', width: 60, align: 'left' },
                {
                    label: '修改', name: '', width: 60, align: 'left',
                    formatter: function (val, obj, row, act) {
                        return '<a id="btnEdit" authorize="yes" class="btn" onclick="btnOperate(\'' + row.F_Id + '\')"><i class="fa fa-pencil"></i></a>';
                    }
                },
                {
                    label: '查看', name: '', width: 60, align: 'left',
                    formatter: function (val, obj, row, act) {
                        return '<a id="btnDetails" authorize="yes" class="btn" onclick="btnDetails(\'' + row.F_Id + '\')"><i class="fa fa-search-plus"></i></a>';
                    }
                },
            ],
            pager: "#gridPager",
            sortname: 'FieldName',
            sortorder: "asc",
            viewrecords: true,
            multiselect: true
        });

        $("#btnSearch").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { tableId: tableId, keyword: $("#txtKeyword").val() },
            }).trigger('reloadGrid');
        });
    }

    function btnOperate(f_Id) {
        var title = !!f_Id ? "修改字段" : "新增字段";
        $.modalOpen({
            id: "Form",
            title: title,
            url: "/SystemManage/TableField/Form?tableId=" + tableId + "&f_Id=" + f_Id,
            width: "450px",
            height: "450px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btnDetails(f_Id) {
        $.modalOpen({
            id: "Details",
            title: "查看字段",
            url: "/SystemManage/TableField/Details?f_Id=" + f_Id,
            width: "450px",
            height: "380px",
            btn: null,
        });
    }

    function btnDelete() {
        var f_Ids = $("#gridList").jqGrid('getGridParam', 'selarrrow');
        if (f_Ids.length == 0) {
            this.alert("请选中项删除！");
            return;
        }

        $.deleteForm({
            url: "/SystemManage/TableField/DeleteForm",
            param: { f_Ids: f_Ids.toString() },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<div class="topPanel">
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txtKeyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btnSearch" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()">
                <i class="fa fa-refresh fa-spin"></i>刷新
            </a>
        </div>
        <div class="btn-group">
            <a id="btnDelete" authorize="yes" class="btn btn-primary dropdown-text" onclick="btnDelete()">
                <i class="fa fa-trash-o"></i>删除
            </a>
        </div>
        <div class="btn-group">
            <a id="btnAdd" authorize="yes" class="btn btn-primary dropdown-text" onclick="btnOperate()">
                <i class="fa fa-plus"></i>新建
            </a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>
