@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<script>
    $(function () {
        gridList();
    })

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/ProductManage/WareHouse/GetGridJson",
            height: $(window).height() - 96,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '仓库', name: 'WareName', width: 150, align: 'left' },
                { label: '主管', name: 'Director', width: 150, align: 'left' },
                { label: '主管电话', name: 'Mobile', width: 150, align: 'left' },
                {
                    label: '坐标', name: '', width: 150, align: 'left',
                    formatter: function (val, obj, row, act) {
                        return '(' + row.Longitude + ',' + row.Latitude + ')';
                    }
                },
                { label: '地址', name: 'Address', width: 300, align: 'left' },
                { label: '备注', name: 'Description', width: 150, align: 'left' },
                {
                    label: '库存', name: '', width: 150, align: 'left',
                    formatter: function (val, obj, row, act) {
                        return '<button id="NF-inventoryIndex" type="button" style="border:none;background:none;" onclick="btn_inventoryIndex(\'' + row.F_Id + '\')"><i class="fa fa-search-plus"></i></button>';
                    }
                },
            ]
        });

        $("#btn_search").click(function () {
            $gridList.jqGrid('setGridParam', {
                postData: { keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }

    function btn_add() {
        $.modalOpen({
            id: "Form",
            title: "新增仓库",
            url: "/ProductManage/WareHouse/Form",
            width: "550px",
            height: "570px",
            btn: null
        });
    }

    function btn_edit() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Form",
            title: "修改仓库",
            url: "/ProductManage/WareHouse/Form?keyValue=" + keyValue,
            width: "550px",
            height: "570px",
            btn: null
        });
    }

    function btn_delete() {
        $.deleteForm({
            url: "/ProductManage/WareHouse/DeleteForm",
            param: { keyValue: $("#gridList").jqGridRowValue().F_Id },
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

    function btn_details() {
        var keyValue = $("#gridList").jqGridRowValue().F_Id;
        $.modalOpen({
            id: "Details",
            title: "查看仓库",
            url: "/ProductManage/WareHouse/Details?keyValue=" + keyValue,
            width: "550px",
            height: "620px",
            btn: null,
        });
    }

    function btn_inventoryIndex(f_Id) {
        $.modalOpen({
            id: "InventoryIndex",
            title: "库存信息",
            url: "/ProductManage/Inventory/Index?wareId=" + f_Id,
            width: "1000px",
            height: "560px",
            btn: null,
        });
    }
</script>

<div class="topPanel">
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a id="NF-add" authorize="yes" class="btn btn-primary dropdown-text" onclick="btn_add()"><i class="fa fa-plus"></i>新建仓库</a>
        </div>
        <div class="operate">
            <ul class="nav nav-pills">
                <li class="first">已选中<span>1</span>项</li>
                <li><a id="NF-edit" authorize="yes" onclick="btn_edit()"><i class="fa fa-pencil-square-o"></i>修改仓库</a></li>
                <li><a id="NF-delete" authorize="yes" onclick="btn_delete()"><i class="fa fa-trash-o"></i>删除仓库</a></li>
                <li><a id="NF-Details" authorize="yes" onclick="btn_details()"><i class="fa fa-search-plus"></i>查看仓库</a></li>
            </ul>
            <a href="javascript:;" class="close"></a>
        </div>
        <script>$('.toolbar').authorizeButton()</script>
    </div>
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="txt_keyword" type="text" class="form-control" placeholder="仓库名称" style="width: 200px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
</div>
