@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script>
    $(function () {
        gridList();
    })

    function gridList() {
        $("#gridList").dataGrid({
            treeGrid: true,
            treeGridModel: "adjacency",
            ExpandColumn: "F_EnCode",
            url: "/SystemManage/ItemsType/GetTreeGridJson",
            height: $(window).height() - 90,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '名称', name: 'F_FullName', width: 200, align: 'left' },
                { label: '编号', name: 'F_EnCode', width: 150, align: 'left' },
                { label: '排序', name: 'F_SortCode', width: 80, align: 'center' },
                {
                    label: "有效", name: "F_EnabledMark", width: 60, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == true ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                {
                    label: '修改', name: '', width: 60, align: 'center',
                    formatter: function (val, obj, row, act) {
                        return '<a id="btnEdit" authorize="yes" class="btn" onclick="btnOperate(\'' + row.F_Id + '\')"><i class="fa fa-pencil"></i></a>';
                    }
                },
                {
                    label: '查看', name: '', width: 60, align: 'left',
                    formatter: function (val, obj, row, act) {
                        return '<a id="btnDetails" authorize="yes" class="btn" onclick="btnDetails(\'' + row.F_Id + '\')"><i class="fa fa-search-plus"></i></a>';
                    }
                }
            ]
        });
    }

    function btnOperate(f_Id) {
        var title = !!f_Id ? "修改分类" : "新增分类";
        $.modalOpen({
            id: "Form",
            title: title,
            url: "/SystemManage/ItemsType/Form?keyValue=" + f_Id,
            width: "450px",
            height: "415px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btnDetails(f_Id) {
        $.modalOpen({
            id: "Details",
            title: "查看分类",
            url: "/SystemManage/ItemsType/Details?keyValue=" + f_Id,
            width: "450px",
            height: "350px",
            btn: null,
        });
    }

    function btnDelete() {
        var f_Id = $("#gridList").jqGridRowValue().F_Id;
        if (f_Id == "" || f_Id == null) {
            this.alert("请选中项删除！");
            return;
        }

        $.deleteForm({
            url: "/SystemManage/ItemsType/DeleteForm",
            param: { f_Id: f_Id },
            success: function () {
                $("#gridList").resetSelection();
                $("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>
<div class="topPanel" style="border: 0px;">
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;">
                        <span class="input-group-btn">
                            <button type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" onclick="$.reload()"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" onclick="btnDelete()"><i class="fa fa-trash-o"></i>删除</a>
        </div>
        <div class="btn-group">
            <a class="btn btn-primary" onclick="btnOperate()"><i class="fa fa-plus"></i>新建</a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
</div>
