@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script>
    $(function () {
        $(function () {
            var $cb = $("#cb_gridList");
            if ($cb != null) {
                $cb.parent().removeClass("ckbox");
            }
        })

        $('#layout').layout();
        treeView();
        gridList();
    });

    function treeView() {
        $("#itemTree").treeview({
            url: "/SystemManage/ConfigCategory/GetTreeJson",
            onnodeclick: function (item) {
                $("#txt_keyword").val('');
                $('#btnSearch').trigger("click");
            }
        });
    }

    function gridList() {
        var $gridList = $("#gridList");
        $gridList.dataGrid({
            url: "/SystemManage/Config/GetGridJson",
            postData: { itemId: "", keyword: $("#txt_keyword").val() },
            height: $(window).height() - 140,
            colModel: [
                { label: "主键", name: "F_Id", hidden: true, key: true },
                { label: '名称', name: 'ConfigName', width: 150, align: 'left' },
                { label: '参数值', name: 'ConfigValue', width: 400, align: 'left' },
                {
                    label: '', name: 'F_Description', width: 300, align: 'left'
                },
                {
                    label: '修改', name: '', width: 60, align: 'center',
                    formatter: function (val, obj, row, act) {
                        return '<a id="btnEdit" authorize="yes" class="btn" onclick="btnOperate(\'' + row.F_Id + '\')"><i class="fa fa-pencil"></i></a>';
                    }
                },
                {
                    label: '查看', name: '', width: 60, align: 'left',
                    formatter: function (val, obj, row, act) {
                        return '<a id="btnDetails" authorize="yes" class="btn" onclick="btnDetails(\'' + row.F_Id + '\')"><i class="fa fa-search-plus"></i></a>';
                    }
                }
            ],
            pager: "#gridPager",
            sortname: 'F_CreatorTime asc',
            viewrecords: true,
            multiselect: true
        });

        $("#btnSearch").click(function () {
            itemId = "";
            try {
                itemId = $("#itemTree").getCurrentNode().id;
            } catch (e) {

            }

            $gridList.jqGrid('setGridParam', {
                url: "/SystemManage/Config/GetGridJson",
                postData: { itemId: itemId, keyword: $("#txt_keyword").val() },
            }).trigger('reloadGrid');
        });
    }

    function btnOperate(f_Id) {
        var title = !!f_Id ? "修改系统参数" : "新增系统参数";
        $.modalOpen({
            id: "Form",
            title: "修改系统参数",
            url: "/SystemManage/Config/Form?keyValue=" + f_Id,
            width: "450px",
            height: "340px",
            callBack: function (iframeId) {
                top.frames[iframeId].submitForm();
            }
        });
    }

    function btnDetails(f_Id) {
        $.modalOpen({
            id: "Details",
            title: "查看系统参数",
            url: "/SystemManage/Config/Details?keyValue=" + f_Id,
            width: "450px",
            height: "280px",
            btn: null,
        });
    }

    function btnDelete() {
        var f_Ids = $("#gridList").jqGrid('getGridParam', 'selarrrow');
        if (f_Ids.length == 0) {
            this.alert("请选中项删除！");
            return;
        }

        $.deleteForm({
            url: "/SystemManage/Config/DeleteForm",
            param: { f_Ids: f_Ids.toString() },
            success: function () {
                $("#gridList").resetSelection();
                $("#gridList").trigger("reloadGrid");
            }
        })
    }

    function btnItemsType() {
        $.modalOpen({
            id: "ItemsType",
            title: "参数分类",
            url: "/SystemManage/ConfigCategory/Index",
            width: "800px",
            height: "550px",
            btn: null,
        });
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div id="itemTree"></div>
    </div>
    <div class="ui-layout-center">
        <div class="topPanel">
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-primary" onclick="$.reload()">
                        <i class="fa fa-refresh fa-spin"></i>刷新
                    </a>
                </div>
                <div class="btn-group">
                    <a id="btnDelete" authorize="yes" class="btn btn-primary dropdown-text" onclick="btnDelete()">
                        <i class="fa fa-trash-o"></i>删除
                    </a>
                </div>
                <div class="btn-group">
                    <a id="btnAdd" authorize="yes" class="btn btn-primary dropdown-text" onclick="btnOperate()">
                        <i class="fa fa-plus"></i>新建
                    </a>
                </div>
                <div class="btn-group">
                    <a id="btnItemsType" authorize="yes" class="btn btn-primary dropdown-text" onclick="btnItemsType()">
                        <i class="fa fa-cog"></i>分类
                    </a>
                </div>
                <script>$('.toolbar').authorizeButton()</script>
            </div>
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="txt_keyword" type="text" class="form-control" placeholder="参数名/参数值" style="width: 200px;">
                                <span class="input-group-btn">
                                    <button id="btnSearch" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</div>
