@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Details.cshtml";
}

<link rel="stylesheet" href="~/Content/layui/css/layui.css" media="all">
<script src="~/Content/layui/layui.js" charset="utf-8"></script>
<link rel="stylesheet" href="~/Content/css/vs.css" />
<script src="~/Content/js/highlight.pack.js" charset="utf-8"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
    var tableId = $.request("f_Id");
    $(function () {
        $("#form1").height($(window).height() - 40);
        $(".layui-tab-content").height($(window).height() - 110);

        $.ajax({
            url: "/SystemManage/CodeGenerator/PreviewCode",
            data: { tableId: tableId },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#entityCode").html(data.entityCode);
                $("#iRepositoryCode").html(data.iRepositoryCode);
                $("#repositoryCode").html(data.repositoryCode);
                $("#mappingCode").html(data.mappingCode);
                $("#applicationCode").html(data.applicationCode);
                $("#controllerCode").html(data.controllerCode);
                $("#listCode").html(data.listCode);
                $("#formCode").html(data.formCode);
                $("#detailsCode").html(data.detailsCode);
            }
        });
    });

    layui.use('element', function () {
        var $ = layui.jquery, element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        $('.site-demo-active').on('click', function () {
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });
</script>

<form id="form1">
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">实体类</li>
            <li>接口类</li>
            <li>仓库类</li>
            <li>映射类</li>
            <li>业务层</li>
            <li>逻辑层</li>
            <li>列表页</li>
            <li>表单页</li>
            <li>明细页</li>
        </ul>
        <div class="layui-tab-content" style="overflow:auto;">
            <div class="layui-tab-item layui-show">
                <div style="margin: 10px; margin-bottom: 0px;">
                    <pre><code><span id="entityCode"></span></code></pre>
                </div>
            </div>
            <div class="layui-tab-item">
                <div style="margin: 10px; margin-bottom: 0px;">
                    <pre><code><span id="iRepositoryCode"></span></code></pre>
                </div>
            </div>
            <div class="layui-tab-item">
                <div style="margin: 10px; margin-bottom: 0px;">
                    <pre><code><span id="repositoryCode"></span></code></pre>
                </div>
            </div>
            <div class="layui-tab-item">
                <div style="margin: 10px; margin-bottom: 0px;">
                    <pre><code><span id="mappingCode"></span></code></pre>
                </div>
            </div>
            <div class="layui-tab-item">
                <div style="margin: 10px; margin-bottom: 0px;">
                    <pre><code><span id="applicationCode"></span></code></pre>
                </div>
            </div>
            <div class="layui-tab-item">
                <div style="margin: 10px; margin-bottom: 0px;">
                    <pre><code><span id="controllerCode"></span></code></pre>
                </div>
            </div>
            <div class="layui-tab-item">
                <div style="margin: 10px; margin-bottom: 0px;">
                    <pre><code><span id="listCode"></span></code></pre>
                </div>
            </div>
            <div class="layui-tab-item">
                <div style="margin: 10px; margin-bottom: 0px;">
                    <pre><code><span id="formCode"></span></code></pre>
                </div>
            </div>
            <div class="layui-tab-item">
                <div style="margin: 10px; margin-bottom: 0px;">
                    <pre><code><span id="detailsCode"></span></code></pre>
                </div>
            </div>
        </div>
    </div>
</form>
