@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Details.cshtml";
}

<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/SystemManage/Organize/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                $("#form1").find('select').attr('disabled', 'disabled');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
    });

    function initControl() {
        $("#F_CategoryId").select2({ minimumResultsForSearch: -1 })
        $("#F_ParentId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
            <ul class="steps">
                <li data-target="#step-1" class="active"><span class="step">1</span>基本信息<span class="chevron"></span></li>
            </ul>
        </div>
        <div style="padding-top: 20px;">
            <div class="panel panel-default">
                <div class="panel-body" style="width: 98%;">
                    <table class="form">
                        <tr>
                            <th class="formTitle">上级</th>
                            <td class="formValue">
                                <select id="F_ParentId" name="F_ParentId" class="form-control">
                                    <option value="0">父节点</option>
                                </select>
                            </td>
                            <th class="formTitle">类型</th>
                            <td class="formValue">
                                <select id="F_CategoryId" name="F_CategoryId" class="form-control">
                                    <option value="">==请选择==</option>
                                    <option value="Group">集团</option>
                                    <option value="Company">公司</option>
                                    <option value="Department">部门</option>
                                    <option value="WorkGroup">小组</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">名称</th>
                            <td class="formValue">
                                <input id="F_FullName" name="F_FullName" type="text" class="form-control" />
                            </td>
                            <th class="formTitle">编号</th>
                            <td class="formValue">
                                <input id="F_EnCode" name="F_EnCode" type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                        <tr>
                            <th class="formTitle">负责人</th>
                            <td class="formValue">
                                <input id="F_ManagerId" name="F_ManagerId" type="text" class="form-control" />
                            </td>
                            <th class="formTitle">手机</th>
                            <td class="formValue">
                                <input id="F_MobilePhone" name="F_MobilePhone" type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">微信</th>
                            <td class="formValue">
                                <input id="F_WeChat" name="F_ManagerId" type="text" class="form-control" />
                            </td>
                            <th class="formTitle">电话</th>
                            <td class="formValue">
                                <input id="F_TelePhone" name="F_TelePhone" type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>

                            <th class="formTitle">邮箱</th>
                            <td class="formValue">
                                <input id="F_Email" name="F_MobilePhone" type="text" class="form-control" />
                            </td>
                            <th class="formTitle">传真</th>
                            <td class="formValue">
                                <input id="F_Fax" name="F_MobilePhone" type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle">地址</th>
                            <td class="formValue" colspan="3">
                                <input id="F_Address" name="F_Address" type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle" style="height: 35px;">选项</th>
                            <td class="formValue" colspan="3" style="padding-top: 1px;">
                                <div class="ckbox">
                                    <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">有效</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th class="formTitle" valign="top" style="padding-top: 5px;">
                                备注
                            </th>
                            <td class="formValue" colspan="3">
                                <input id="Description" name="Descriptions" type="text" class="form-control" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
